.topo{
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    
}

.logo{
    background-color: rgb(255, 255, 255);
    flex: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    min-width: 200px;
   
    flex-wrap: block;
}

.Menu{
    background-color: rgb(255, 255, 255);
    flex: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    min-width: 550px;
    flex-wrap: wrap;
}

/*
    flex: 1;
    margin: 20px;
    border: 3px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    min-width: 300px;
*/

.nome1{
    font-size: 2rem;
    color: rgb(255, 166, 0);
}

.nome2{
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

/* Menu horizontal */

#menu ul 
{
    padding:10px;
    margin: 10px;
    background-color:#ffffff;
    list-style:none;
    /* border-bottom:2px solid #ccc; */
}

#menu ul li { display: inline; }

#menu ul li a 
{ 
    padding: 5px; 
    display: inline-block; /* visual do link */ 
    background-color:#ffffff; 
    color: #000; 
    text-decoration: none; 
    /*border-bottom:5px solid #ccc; */
    font-size: 20px;
}

#menu ul li a:hover 
{ 
    background-color:#ff7300;
    color: #ffffff;
    border-bottom:3px solid #000000;
    border-radius: 5px;
    padding: 5px 5px;
    /*font-style: italic;*/   
}