.App {
  text-align: center;
  display: contents;
  flex-wrap: wrap;
}

.Topo{
  border-radius: 5px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.Corpo{
  border-radius: 5px;
  margin: 5px;
  padding: 5px,5px,5px,5px;
  display: block;
  flex-wrap: wrap;
  background-color: #fff;
  color: black;
}

.Rodape{
  border: 3px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  padding: 5px,5px,5px,5px;
  display: block;
  flex-wrap: wrap;
  color: #fff;
  background-color: black;
}